:root {
  font-family: sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  position: relative;
}

main {
  min-height: 100vh;
  padding-top: 20px;
  flex: 1;
  position: relative;
}

input {
  position: relative;
  z-index: 0;
}