:root {
  font-family: chivo, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;

  --primary-color: #0D151C;
  --secondary-color: #162431;
  --tertiarey-color: #7A2DCB;

  color: white;
}
* {
  box-sizing: border-box;
  font-family: chivo;
}
body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  position: relative;
  background-color: var(--primary-color);
}

main {
  min-height: 100vh;
  padding-top: 20px;
  flex: 1;
  position: relative;
}

input {
  position: relative;
  z-index: 0;
}