.btn {
  padding: 20px 40px; 
  background-color: #7A2DCB;
  color: white;
  font-weight: 400;
  font-size: 16px;
  border-radius: 16px;
  border: none; 
  letter-spacing: 5px;
  transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.btn:hover {
  box-shadow: 0px 0px 10px 10px rgb(122, 45, 203, .25); 
  transform: translateY(-2px);
}