.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 500;
    display: flex;
    flex-flow: column nowrap;
    transform-origin: top left;
  }
  .modal-enter{
    opacity: 0;
    transform: scale(.8) translateX(-50%) translateY(-50%);
  }
  .modal-enter-active {
    opacity: 1;
    transform: scale(1) translateX(-50%) translateY(-50%);
    transition: all 200ms;
  }
  .modal-exit {
    opacity: 1;
    transform: scale(1) translateX(-50%) translateY(-50%);
  }
  .modal-exit-active {
    opacity: 0;
    transform: scale(.8) translateX(-50%) translateY(-50%);
    transition: all 200ms;
  }