.room-select-page {
  display: flex;
  flex-flow: column; 
  align-items: center;
}

.room-select-page {
  font-family: Chivo;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 4.8px;
}

.room-select-page__carousel {
  display: flex;
}

.nav-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    
    width: 48px;
    height: 48px;
    border-radius: 50%;
  
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    font-size: 1.25rem;
    cursor: pointer;
    outline: none;
  }
  
  .nav-button--prev {
    left: 0;
  }
  
  .nav-button--next {
    right: 0;
  }
  
  .nav-button:hover,
  .nav-button:focus {
    background-color: rgba(255,255,255,0.1); 
  }
